@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --large-margin: 4.275em;
  --small-margin: 0.6em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", normal;
  overflow: auto;
  color: #2E2E2E;
  background-color: #faf7ed; 
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif; 
  line-height: 1.5;
}

.container {
  display: flex; 
  justify-content: center;  
  height: 100%;
}

.wrapper {
  width: 100%; 
  height: 100vh; 
  display: flex;  
  flex-direction: column; 
  padding-top: 0;
}

header, .subheading {   
    color: #103129; 
}

.subheading {
    font-size: 1.1em;
    padding-bottom: 0.8em; 
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.desc {
  font-size: 1.125em;
  font-weight: 200; 
}

.head-container {  
    background-color: #f06363;
    padding: 3.125em;
    padding-right: var(--large-margin);
    padding-left: var(--large-margin);
    text-align: center;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);

}

header { 
    padding-top: 1rem;
    font-size: 2.8rem; 
    font-weight: 700; 
}  

.entry {
    display: flex;  
    justify-content: flex-start;  
    background-color: white;  
    padding: 1.5em;  
    color:#797979;
    align-content: flex-start;  
    font-size: 1rem;
}

.entry-data {
    display: flex; 
    flex-direction: column;
    padding-left: 20px; 
    margin: auto 0;
    font-size: 1em;
}  

.remove-btn {   
    width: 7.0em;
    height: 2.8em; 
    cursor: pointer;
    background-color: #c71a1a; 
    border: none;
    color: white;   
    margin-top: 0.7rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    border-radius: 5px; 
    font-size: 0.95em;
}

.remove-btn:hover {
    background-color:#ad0a0a;
}  

.noms-label {
    text-align: center;
}

.fa-trash-alt, .fa-trophy {
    padding-left: 5px;
}  

.notifications.card { 
    min-height: 0;
    margin-bottom: 0;
    margin-left: var(--large-margin);
    margin-right: var(--large-margin); 
    background-color: #32af2d;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.search-container {
    display: flex;
    width: 100%;  
    background: white;
    padding: 0.4rem;
    border-radius: 0.7rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 2rem; 
}

.fa-search {
    margin: 10px;
    margin-left: 20px;
    align-items: center;
    font-size: 2rem;
}

.input-search { 
    width: 100%; 
	background:#fefefe; 
    margin-left: 0.5rem;
    border: none;
    outline: none;  
    font-size: large;
} 

.input-search::placeholder { 
    font-size: large;
}

.search-container:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

.main {
  display: flex;
  /* width: 100%;    */
  gap: 3em;
  margin-top: 1em;
  margin-left: var(--large-margin);
  margin-right: var(--large-margin); 
}

.card {   
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    padding: 2rem;
    border-radius: 8px; 
    color:#797979;  
}  

.search-results-container { 
    flex: 1 1 10em; 
    align-self: flex-start; 
}
 
.nominations { 
  flex: 1 1 10em; 
  align-self: flex-start; 
}   

.img-container {
  display: flex;
  align-items: flex-start;
}

.img-container > img {   
  width: 10em;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
  margin: auto;
}

.title {  
  text-overflow: ellipsis;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.about {
  font-weight: 200; 
  font-size: 0.9em;
} 

.runtime {
  font-size: 0.8em;
  font-weight: 300;
}

.genre-container {
  display: flex; 
  flex-direction: row;
  gap: 0.5em;
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.genre { 
  font-size: 0.6em;
  background: linear-gradient(to right, #ff512f, #dd2476); 
  color: white; 
  padding: 13px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}  

.spinner-img {
  display: block;
  margin: auto;
  width: 9em;
}

.nominate-btn {   
  width: 7.5em;
  height: 2.8em;  
  cursor: pointer;
  background-color: rgb(35, 170, 107); 
  border: none;
  color: white;   
  margin-top: 0.7em;
  font-family: "Lato", sans-serif;
  font-weight: 500; 
  border-radius: 5px; 
  font-size: 0.95em;
} 

.nominate-btn:disabled {
    cursor: not-allowed;
    background-color: rgba(35, 170, 107, 0.3); 
}

.nominate-btn:disabled:hover {
    background-color: rgba(35, 170, 107, 0.3); 
}

.nominate-btn:hover {
    background-color: rgb(20, 139, 84); 
}   

h3 { 
    font-size: 0.9em;
    font-weight: 400;
    font-stretch: expanded;
}
 
.bold {
    font-weight: 500;
} 

.notifications {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.max-nominations { 
    margin-bottom: 0;
    color: white;
    font-weight: 500;
    padding: 1em;
}  

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-top: auto;
}

#footer-label {
  font-size: 1em;
  font-weight: 300;
  padding: 1em;
}

#footer-link {
  color: #2E2E2E;
  text-decoration: none;
}

#credits {
  font-weight: bold;
}

.hide {
  display: hide;
} 
 
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .main {
    flex-direction: column;
    gap: 1em;
    flex: 1;  
  }

  .card {
    padding: 1em;
  }

  .search-results-container { 
    width: 100%;
    flex: 1;
  }
  
  .nominations {  
    width: 100%;
    flex: 1;
  }   

  .main { 
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    gap: 1em;
  }

  .card { 
    margin: 0 0 1rem 0; 
  } 
  .head-container { 
    padding: 1.5em;
  }

  .desc {
    font-size: 0.75em;
  }

  header {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 450px) { 
  .img-container > img {   
    display: none;
  }

  .entry {
    padding: 0.9em;
  }

  .entry-data {
    padding: 0;
    font-size: 0.8em;
  }

  .desc {
    font-size: 0.7em;
  }
  
} 

@media only screen and (min-width: 450px) and (max-width: 800px) { 
  header {
    font-size: 2.7em;
  }

  .entry-data {
    font-size: 0.9em;
  }
} 

@media only screen and (min-width: 600px) and (max-width: 800px){
  .entry-data {
    font-size: 1em;
  }

  .img-container > img {   
    width: 9em; 
  }
}

@media only screen and (min-width: 1001px) { 

  .entry-data {
    font-size: 0.7em;
  }

  .img-container > img {   
    width: 10em; 
  }

  .card { 
    margin: 1rem 0 1rem 0; 
  } 
}

@media only screen and (min-width: 1000px) and (max-width: 1150px) { 
    .head-container {
      font-size: 0.8em;
    }

    .main { 
      margin-left: var(--small-margin);
      margin-right: var(--small-margin);
      gap: 1em;
    }
    .card { 
      margin: 0 0 1rem 0; 
    } 
}

@media only screen and (min-width: 1150px) { 
  .entry-data {
    font-size: 0.8em;
  }

  .img-container > img {   
    width: 10em; 
  }

  .main {
    margin-top: 1em;
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
    gap: 1em;
  }

  .card { 
    margin: 0 0 1rem 0; 
  } 
} 

@media only screen and (min-width: 1260px) {  
  .head-container { 
      text-align: left;
      background-image: url('./images/watching2.png'); 
      background-position: top right; 
      background-repeat: no-repeat;
  }

  .entry-data {
    font-size: 0.9em;
  }

  .main { 
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
    gap: 3em;
  }

  .img-container > img {   
    width: 11em; 
  } 

  .card { 
    margin: 1rem 0 1rem 0; 
  } 
}